@import "show";

// Plots index page
.index-grid {
  display: grid;
  padding: 0px 24px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.col-filter-bar {
  background-color: white;
  transition: 0.5s position ease;
}

.col-filter-bar-top {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1030;
  height: 36px;
  margin: auto 0px;
  border-bottom: solid 2px $op-blue;
  // padding: 0px 8px;
}

.filter-bar {
  display: flex;
  justify-content: right;
  align-items: center;
  color: $dark-silver;
  padding: 0px 24px;
  height: 2rem;
  font-weight: 300;
  font-size: 15px;
  font-family: $headers-font;
}

.filter-button {
  margin: 0px 8px;
  &:hover {
    color:$duck-egg-blue;
    cursor: pointer;
  }
}

.filter-button-arc {
  margin: 0px 8px;
  &:hover {
    color:$purple;
    cursor: pointer;
  }
}


#show-all {
  color: $dark-silver;
}

#show-all:hover{
  text-decoration: none !important;
  color: $duck-egg-blue;
}

#show-all-arc {
  color: $dark-silver;
}

#show-all-arc:hover{
  text-decoration: none !important;
  color: $purple;
}

#search-radius::after {
  content: 'miles';
}

.align-search-bar {
  transform: translateY(-19px);
}



@media (max-width: 768px) {
  .filter-bar {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .index-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .form-inline {
    display: none;
  }
}

@media (max-width: 767.98px) {
.footer-dream {
    padding-left: 0;
    padding-right: 0;
    }
    #footer-email-sign {
    position: absolute;
    }
    .bold{
      font-size: 12px;
  }
}

@media (max-width: 576px) {
  .footer-dream {
    padding-left: 0;
    padding-right: 0;
    }
    #footer-email-sign {
    position: absolute;
    }
    .bold{
      font-size: 12px;
    }
  }
