.image-show {
  max-width: 645px;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0px;

}

.container-rt {
  min-height: 600px;
}

.tab-show {
  width: 100px;
  text-align: center;
}
