// Specific CSS for your home-page

.feature-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px auto;
  padding: 0px 24px;
  // width: 600px;

  h3 {
    margin: 50px;
    font-size: 20px;
    color: $duck-egg-blue;
  }

}

.margin-bottom {
  margin-bottom: 130px
}

.margin-bottom-tab {
  margin-bottom: 40px
}
