// Specific CSS for your home-page

.feature-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px auto;
  padding: 0px 24px;
  // width: 600px;

  h3 {
    margin: 50px;
    font-size: 20px;
    color: $duck-egg-blue;
  }

}

.margin-bottom {
  margin-bottom: 130px
}

.margin-bottom-tab {
  margin-bottom: 40px
}

#footer-email-sign {
  width: 310px !important;
}

@media (max-width: 767.98px) {
.footer-dream {
    padding-left: 0;
    padding-right: 0;
    }
    #footer-email-sign {
    position: absolute;
    }
    .bold{
      font-size: 12px;
  }
}

@media (max-width: 576px) {
  .footer-dream {
    padding-left: 0;
    padding-right: 0;
    }
    #footer-email-sign {
    position: absolute;
    }
    .bold{
      font-size: 12px;
    }
  }
