// Import page-specific CSS files here.
@import "home";
@import "profile";

// Applies to all pages
.container-lg {
  font-size: 15px;
  font-weight: 300;
  // margin: 8px 24px;
}

.nav-link-blue {
  text-decoration: none;
  color: $duck-egg-blue;
  &:hover {
    text-decoration: none;
    color: $dark-silver;
  }
}

.nav-link-blue-line {
  text-decoration: none !important;
  color: $duck-egg-blue;
  border-bottom: 1.5px solid $duck-egg-blue;
  padding-bottom: 20px;

}

.nav-link-purple {
  text-decoration: none !important;
  color: $purple;
  border-bottom: 1.5px solid $purple;
  padding-bottom: 20px;
  &:hover {
    text-decoration: none;
    color: #303a7a;
  }
}


.nav-pills .nav-link-arc-purple.active {
  text-decoration: none;
  background-color: $purple;
  color: white;
  }

  .nav-pills .nav-link-arc-purple {
  text-decoration: none;
  color: $purple
  }



.h6 {
  font-size: 16px;
}

//for fixing footer at the bottom
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.margin-bottom {
  margin-bottom: 130px
}

.bar-search {
  width: 250px !important;
}


input[type="text"],
select.form-control {
  background: transparent;
  // color: white;
  border: none;
  border-bottom: 1px solid #818181;
  // border-bottom: 1px solid white;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;

}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}



input[type="number"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #818181;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;

}

input[type="number"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-bottom: 20px
}


input[type="submit"],
select.form-control {
  background: none;
  border: none;
  color: $dark-silver;
  // border-bottom: 1px solid #818181;
  -webkit-box-shadow: none;
  box-shadow: none;

}

input[type="submit"]:hover,
select.form-control:hover {
  background: none;
  color: #494F4F;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// this section for the home page search button

// input[type="text"],
// select.form-control-default {
//   color: $gray;
//   border-radius: 5px 0px 0px 5px;
//   width: 23em;
//   height: 52px;
//   text-align: center;
//   font-weight: 300;
//   background: white;
//   border: none;
//   -webkit-box-shadow: none;
//   box-shadow: none;
//   border-radius: 0;

// }

// input[type="text"]:focus,
// select.form-control-default:focus {
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }



// input[type="number"],
// select.form-control-default {
//   background: transparent;
//   border: none;
//   border-bottom: 1px solid #818181;
//   -webkit-box-shadow: none;
//   box-shadow: none;
//   border-radius: 0;

// }

// input[type="number"]:focus,
// select.form-control-default:focus {
//   -webkit-box-shadow: none;
//   box-shadow: none;
//   padding-bottom: 20px
// }


// input[type="submit"],
// select.form-control-default {
//   border-radius: 0px 5px 5px 0px;
//   color: white;
//   background-color: $duck-egg-blue;
//   margin: 0px, 0px, 50px, 0px;
//   width: 6em;
//   height: 52px;
//   text-align: center;
//   font-weight: 400;
//   border: none;
//   -webkit-box-shadow: none;
//   box-shadow: none;

// }

// input[type="submit"]:hover,
// select.form-control-default:hover {
//   background-color: $duck-egg-blue;
//   color: #1cafa4;
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }

#typed-searched {
  color: $gray ;
  background-color: white;
  // border-radius: 5px;
  // margin: 0px 12px 15px 0px;
  border-radius: 5px 0px 0px 5px;
  width: 23em;
  // height: 3em;
  height: 52px;
  font-weight: 300;
  // font-size: 30px;
  border: none;
  // position: relative;
  // vertical-align: top;

}
