<div class="card" style="width: 10rem;">
<% if plot.image_urls.blank? == false %>
  <%= image_tag plot.image_urls.first, crop: :fill, class: 'card-img-top' %>
<% end %>
  <div class="card-body p-2">
    <h6><%=plot.street_name %></h6>
    <h6 class="blue"><%= plot.property_type %></h6>
  </div>
</div>
