<div class="card" style="width: 10rem;">
<% if plot.image_url.blank? == false %>
  <%= image_tag plot.image_url, crop: :fill, class: 'card-img-top' %>
<% end %>
  <div class="card-body p-2">
    <h6 class="blue"><%=plot.title %></h6>
    <p><%= plot.address %></p>
  </div>
</div>
