<div class="d-flex justify-content-between align-items-center">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item tab-show">
      <a class="nav-link active" id="pills-architect-tab" data-toggle="pill" href="#pills-architect" role="tab" aria-controls="pills-architect" aria-selected="true">Architect</a>
    </li>
    <li class="nav-item tab-show">
      <a class="nav-link" id="pills-avialbility-tab" data-toggle="pill" href="#pills-avialbility" role="tab" aria-controls="pills-avialbility" aria-selected="false">Avialbility</a>
    </li>
  </ul>
  <%# if @shortlisted %>
    <%#= link_to shortlist_path(@shortlisted), :method => :delete  do %>
      <h4 class="text-muted"><i class="fas fa-bookmark blue "></i></h4>
    <%# end %>
  <%# else %>
    <%#= link_to architect_shortlists_path(plot_id: @plot.id), :method => :post  do %>
      <!-- <h4 class="text-muted"><i class="fas fa-bookmark"></i></h4> -->
    <%# end %>
  <%# end %>
</div>
