<div class="tab-content" id="pills-tabContent">

  <!-- the architect tab -->
  <div class="tab-pane fade show active" id="pills-architect" role="tabpanel" aria-labelledby="pills-architect-tab">
    <div class="d-flex">
      <%= render 'architects/show_tab_info' %>
      <%= render 'architects/carousel' %>
    </div>

  </div>

  <!-- the availablity tab -->
  <div class="tab-pane fade" id="pills-avialbility" role="tabpanel" aria-labelledby="pills-avialbility-tab">
    <div class="">
      <%= render 'architects/show_tab_avail' %>
      <%# if @architect.available.blank? %>
        <!-- <h6 class="pl-5"><span class="highlight-blue">Sorry, there is no available time for this architect.</span></h6> -->
      <%# else %>
        <%# @architect.available.each do || %>

        <%# end %>
      <%# end %>
    </div>
  </div>

</div>
