<div class = "container-lg margin-bottom">
  <div class="col-12 pl-2 pr-4 col-filter-bar ml-3">
    <%= render 'architects/filter_bar' %>
  </div>

  <div class= "d-flex mt-3">
    <div class="col-sm-12">
      <% if @architects.size > 0 %>
        <div class="index-grid-architect col-12 px-2">
          <% @architects.each do |architect| %>
            <%= render 'architects/card', architect: architect %>
          <% end %>
        </div>
      <% else %>
        <h6 class="pl-4 none-msg"><span class="highlight-purple">Sorry, no architects match your query.</span></h6>
      <% end %>
    </div>
  </div>
</div>
