<div class="container-lg">
  <div class="row">

    <div class="col-xs-12 col-lg-12 container-lt pr-0">
      <%= render 'architects/show_tab_headers' %>
      <%= render 'architects/show_tab' %>
    </div>

    <div class="col-xs-12 col-lg-6 p-0">
      <%#= render 'architects/carousel' %>
    </div>

  </div>
</div>

