<!-- placeholder to trigger the modal -->
<p class="" data-toggle="modal" data-target="#exampleModalCenter" id="clickForModal"></p>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center mx-auto">
        <h5 class="modal-title mt-2" id="modelTitle"><span class="">We see you have made a plot viewing appointment...</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="m_font my-2 bold text-center">Why not book an architect for a on-site initial consultation about your self-build project?</h6>
        <p class="m_font h_font mx-3 text-center">An architect can advice you on</p>
        <div class="d-flex align-items-center justify-content-around">
          <div class="">
            <p>image holder</p>
            <p class="h_font text-center">the feasibility <br>of your project</p>
          </div>
          <div class="">
            <p>image holder</p>
            <p class="h_font text-center">if your budget <br>is realistic</p>
          </div>
          <div class="">
            <p>image holder</p>
            <p class="h_font text-center">timeline of the <br>building process</p>
          </div>
        </div>
        <h5 class="text-center"><span class="highlight-blue grey">saving you valuable time on plot searching and project planning</span></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-to-project">Continue</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Maybe Later</button>
      </div>
    </div>
  </div>
</div>


<!-- for updating modal contents in Dashboard -->
<script>
const buttonToProject = document.querySelector("#modal-to-project");
const modalBody = document.querySelector(".modal-body");
const modalFooter = document.querySelector(".modal-footer");
const modalTitle = document.querySelector("#modelTitle");

const findArchitectModal = document.querySelector("#clickForModal");

if (buttonToProject) {
  buttonToProject.addEventListener("click", (event) => {
    console.log("this is showing");
    modalTitle.innerText = "Tell us a little about your project..."
    modalBody.innerHTML = "<%= j render('projects/new_to_architects', project: @project) %>";
    modalFooter.insertAdjacentHTML('afterbegin','<button type="button" class="btn btn-primary" id="modal-to-architect">Find Architect</button>');
    buttonToProject.parentNode.removeChild(buttonToProject);

    // once we click find architect, form is submitted
    const buttonToArchitects = document.querySelector("#modal-to-architect");
    buttonToArchitects.addEventListener("click", (event) => {
      const modalProjectForm = document.querySelector(".modal-body #new_project");
      modalProjectForm.submit()
    });
  });
};
</script>






