<!-- tab body  -->
<div class="tab-content" id="pills-tabContent">

  <!-- profile tab -->
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <h5>profile form placholder</h5>
  </div>

  <!-- plots tab -->
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="row align-items-center"></div>
    <div class="mt-4">
      <form class="form-inline">
        <p class="mb-1 h_font bold">Commute time to: </p>
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control h_font bold" placeholder="your work address?" name="destination">
        </div>
        <button type="submit" class="btn btn-outline-secondary mb-2 h_font bold">Calculate</button>
      </form>
    </div>

    <!-- grid to contain cards -->
    <div class="profile-one-grid">
      <% if @user.shortlists.size == 0 %>
        <div class="m_font mb-3"><span class="highlight-blue">None found</span></div>
      <% else %>
        <% @user.shortlists.each do |shortlist| %>
            <%= render 'shortlists/card', shortlist: shortlist, comment: @comment %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- architects tab -->
  <div class="tab-pane fade" id="pills-architects" role="tabpanel" aria-labelledby="pills-architects-tab">
    <% if @architects.size == 0 %>
      <div class="m_font mb-3"><span class="highlight-blue">No architects matched your search</span></div>
    <% else %>
      <% @architects.each do |architect| %>

      <% end %>
    <% end %>

    <h5>architects placeholder</h5>
  </div>

  <!-- appointments tab -->
  <div class="tab-pane fade" id="pills-appts" role="tabpanel" aria-labelledby="pills-appts-tab">
    <h5>appts placeholder</h5>
    <% if @user.appointments.size == 0 %>
      <div class="m_font mb-3"><span class="highlight-blue">No appointments at the moment</span></div>
    <% else %>
      <% @user.appointments.each do |appointment| %>

      <% end %>
    <% end %>
  </div>
</div>
