
<div class="container-profile mx-auto">
  <div class="col-12 p-0">

    <%= render 'users/show_tab_headers' %>

    <div class="bg-light vh-100 margin-bottom" id="content-wrap">
      <div class="col-xs-12 col-md-8 tab-bar p-0 ">
        <%= render 'users/show_tab' %>
        <%# raise %>
      </div>
    </div>
  </div>
</div>


