<div class="justify-content-center plot-profile">
  <div class="row grey justify-content-center">
    <h6 class="card-title thin mb-0 pt-2">Plot size</h6>
  </div>
  <div class="row blue justify-content-center mb-4 pb-1">
    <% if shortlist.plot.plot_size.blank?%>
      <h6>--</h6>
    <% else %>
      <h6 class= "card-title thin m-0"><%= shortlist.plot.plot_size %></h6>
    <% end %>
  </div>
  <div class="border-bottom border-dark"></div>
  <div class="row grey justify-content-center mt-3 pt-2">
    <h6 class= "card-title m-0 thin" >Floor size</h6>
  </div>
  <div class="row blue justify-content-center mb-3 pb-3">
    <% if shortlist.plot.floor_size.blank?%>
      <h6>--</h6>
    <% elsif shortlist.plot.floor_size%>
      <h6 class= "card-title thin m-0">
        <%= shortlist.plot.floor_size.split(',').first%> sq.ft</h6>
    <% end %>
  </div>
  <div class="border-bottom"></div>
  <div class="row grey justify-content-center thin mt-3 pb-2">
    <% if shortlist.plot.plan_granted == true %>
      <h6 class= "card-title thin m-0">Planning<br>Granted</h6>
    <% else %>
      <h6><br></h6>
    <% end %>
  </div>
</div>
