<div class="plot-note">
  <div class="row ">
    <%= link_to shortlist_path(shortlist), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-times-circle xl_font f-shadow text-light ml-1"></i>
    <% end %>
  </div>
</div>
