<div class="card border-0">
  <%= image_tag plot.image_url, crop: :fill, class: 'card-img-top' %>
  <div class="card-body bg-light d-flex justify-content-between align-items-center">
    <div class="card-left">
      <h6 class="card-title m-0">
        <%= link_to "BROOK VIEW", plot_path(plot), class: "grey"%>
      </h6>
      <p class="mb-0">London EC8</p>
    </div>
    <div class="card-right text-right">
      <p class="card-subtitle blue"><%= plot.property_type %></p>
      <p class="mb-0">£ <%= plot.price %></p>
    </div>
  </div>
</div>




