<div class="banner">
  <div class="flex-container">

    <div class="row">
      <h2>Find Your New <span class="blue">Home</span></h2>
    </div>

    <div class="row">
      <input class="search-bar" type="search", placeholder="Postal Code Here" >
      <i class="fas fa-map-marker-alt search-icon"></i>
    </div>

    <div class="row">
      <%= link_to plots_path do %>
      <input class="btn-banner" type="submit", value= "Get Started">
      <% end %>
    </div>

  </div>
</div>



<div class="container">
  <div class="row d-flex justify-content-between px-5 py-4">
    <h5 class="blue mb-0">FEATURED PLOTS</h5>
    <h5><%= link_to "View All", plots_path %></h5>
  </div>

  <div class="row">
    <div class="col-12 mx-auto">
      <div class="index-grid">
        <% @plots.each do |plot| %>
          <%= link_to plot, class: "card-index-link" do  %>
            <%= render 'plots/card', plot: plot %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
