.flex-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  margin: 0px 0px 155px 37px;
}



.banner {
  display: flex;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)),asset_url('banner2.jpg');
  background-position: center;
  background-size: cover;
  background-position: center;
  padding: 110px 100px;
  height:calc(100vh - 131.188px);
  font-family: $headers-font;
  // justify-content: flex-end;

  h2 {
    // font-family
    color: white;
    font-size: 47px;
    line-height: 45px;
    text-shadow: 0 0 4px #00000022;
    margin-bottom: 12px;
    letter-spacing: 0px;
  }

  p {
    font-family:$headers-font;
    color: white;
    font-size: 20px;
    letter-spacing: 0.5px;



  }
}

.search-bar {
  color: $gray;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
  width: 23em;
  height: 52px;
  text-align: center;
  font-weight: 300;
  border: none;
  // border-radius: 5px;
  // margin: 0px 12px 15px 0px;
  // height: 3em;
  // font-size: 30px;
  // position: relative;
  // vertical-align: top;

}

.search-icon {
  font-size: 21px;
  color: $duck-egg-blue;
  margin: 23px 0px 15px -33px;
}



.centered-360 {
  text-align: center;
  color: $duck-egg-blue;
}

.left-banner {
  text-align: left;
}

