.btn-banner {
  color: white;
  background-color: $duck-egg-blue;
  border-radius: 5px;
  margin: 0px, 0px, 50px, 0px;
  width: 8em;
  height: 3em;
  text-align: center;
  font-weight: 400;
  // font-size: 30px;
  border: none;
  // position: absolute;
  // top:10px;
  // bottom: 10px;
}

.btn-none {
  text-decoration: none;
  color: $duck-egg-blue;
}

.load-more-container {
  text-align: center;
  margin-top: 1rem !important;
}

