.btn-banner {
  color: white;
  background-color: $duck-egg-blue;
  border-radius: 5px;
  margin: 0px, 0px, 50px, 0px;
  width: 13em;
  height: 3em;
  text-align: center;
  font-weight: 300;
  // font-size: 30px;
  border: none;
}

.btn-none {
  text-decoration: none;
  color: $duck-egg-blue;
}

