#btn-banner {
  color: white;
  background-color: $duck-egg-blue;
  border-radius: 0px 5px 5px 0px;
  margin: 0px, 0px, 50px, 0px;
  width: 7em;
  height: 52px;
  text-align: center;
  font-weight: 400;
  border: none;
  // border-radius: 5px;
  // height: 3em;
  // font-size: 30px;
  // position: absolute;
  // top:10px;
  // bottom: 10px;
}

.btn-none {
  text-decoration: none;
  color: $duck-egg-blue;
}

.load-more-container {
  text-align: center;
  margin-top: 1rem !important;
}


#req-appt-btn {
  color: white;
  background-color: $purple;
  border-radius: 5px;
  // margin: 0px, 0px, 50px, 0px;
  width: 100%;
  height: 45px;
  text-align: center;
  font-weight: 400;
  border: none;
}

