.purple {
  color: $purple;
}

.blue {
  color: $duck-egg-blue
}

.grey {
  color: $dark-gray;
}

.lt-grey {
  color: #a2a2a2;
}

.s_font {
  font-size: 14px;
}

.m_font {
  font-size: 16px;
}

.l_font {
  font-size: 18px;
}

.xl_font {
  font-size: 22px;
}

.bold {
  font-weight: 800;
}

.normal{
  font-weight: 600;
}

.thin {
  font-weight: 300;
}

.h_font {
  font-family: $headers-font;
}

.highlight-blue {
   background: linear-gradient(180deg, rgba(255,255,255,0) 65%, $op-blue 65%);
}

.highlight-purple {
   background: linear-gradient(180deg, rgba(255,255,255,0) 65%, $op-purple 65%);
}


.f-shadow {
  text-shadow: 0 0 4px #00000044;
}

.underline-none {
  text-decoration: none !important;
}
