.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 30px 24px 24px 24px;
  line-height:  2;
  font-size: 16px;
  color: $dark-gray;
  font-weight: 400;
  font-family: $headers-font;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo_s {
  width: 115px;
  margin-left: 135px;
  color:$duck-egg-blue;

}



.profile-box {
  border: 1px solid $duck-egg-blue;
  border-radius: 10px;
  height: 47px;
  padding-right: 0px;
  padding-left: 9px;
}


.navbar-light .navbar-nav .nav-link {
  color: $duck-egg-blue;
}






